<head>
    <title>{{flippyUI.author}} - {{flippyUI.title}}</title>
    {{> metadata}}
    <link rel="icon" href="./{{relative page.dest app.icon}}" type="image/x-icon">
    <link rel="shortcut icon" href="./{{relative page.dest app.icon}}" type="image/x-icon">
    {{{css styles}}}
</head>
